.talk-title {
    // Bootstrap extends
    @extend .p-2;
    @extend .text-light;

    background-color: $primary;
    border-radius: 120rem;
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    font-family: $font-family-base;

    box-sizing: content-box;
    padding-inline: 1rem;
}