doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title TEDx NWC

        // Favicon
        link(rel='icon' type='image/x-icon' href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js' crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css' rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/Tedx-logo-red-white.svg' alt='Tedx Logo')
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#our-mission') Our Mission
                        li.nav-item
                            a.nav-link(href='#schedule') Schedule
                        li.nav-item
                            a.nav-link(href='#speakers') Speakers
                        li.nav-item
                            a.nav-link(href='#sign-up') Sign up!
        // Masthead
        header.masthead
            .container
                .masthead-subheading Welcome To TEDx NWC
                .masthead-heading.text-uppercase Chiaroscuro
                a.btn.btn-primary.btn-xl.text-uppercase(href='#our-mission').rounded-pill Tell Me More

        //- About The Event
        section#our-mission.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Our Mission
                    h3.section-subheading.text-muted About the event
                .container.fs-4(style='text-align: justify')
                    | TEDxNWC is an independently organized TED event at the BlackBox theater in Orange City, Iowa. Chiaroscuro, our event’s theme, is to inspire the immediate and global community to shed light on darkness. Hope is an unwavering vessel of change— hence, our speakers are presenting topics that hold practical relevance to solving current problems.  

        // About
        section#schedule.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Schedule
                    h3.section-subheading.text-muted Schedule of events for the day
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/logos/timeline/registeration.jpg' alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4.text-primary 9:00am
                                h4.subheading In-Person Registration
                            .timeline-body
                                p.text-muted
                                    | Sign up for the event on-site if you did not sign-up online 
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src="assets/img/logos/timeline/Chloe's exhibit.jpg" alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4.text-primary 9:15am
                                h4.subheading Chloe Tschetter's exhibit begins
                            .timeline-body

                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/logos/timeline/Blackbox opens.jpg' alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4.text-primary 9:30am
                                h4.subheading BlackBox opens for speaking event

                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/logos/timeline/Event & host.jpg' alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4.text-primary 10:00am
                                h4.subheading Event introduction with host Gideon Fynaardt

                    li.timeline-inverted
                        .timeline-image
                            h4
                                | The
                                br
                                | Talks
                                br
                                | Begin!

        // Speakers
        section#speakers.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Speakers
                    h3.section-subheading.text-muted Everyone giving a talk at the event
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/speakers/resized/Kugler.jpg' alt='...')
                            h4 Dr. Mike Kugler
                            p.text-muted  author, history professor 
                            //- .talk-title securing a place for hope

                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/speakers/resized/Heie.jpg' alt='...')
                            h4 Harold Heie
                            p.text-muted author, retired NWC VPAA, former astrophysicist

                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/speakers/resized/Harms.jpg' alt='...')
                            h4 Trey Harms
                            p.text-muted photographer and NWC alum

                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/speakers/resized/VanderWerff.jpg' alt='...')
                            h4 Dr. Jeff VanderWerff 
                            p.text-muted political science professor

                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/speakers/resized/Rozeveld.jpg' alt='...')
                            h4 Dr. Cody Rozeveld
                            p.text-muted biology professor, cancer researcher

                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/speakers/resized/Singh.jpg' alt='...')
                            h4 Dr. Rajat Singh
                            p.text-muted kinesiology professor 

                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/speakers/resized/Fei.jpg' alt='...')
                            h4 Dr. Fan Fei
                            p.text-muted economics professor

        // Contact
        section#sign-up.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Sign up Below
                    h3.section-subheading.text-muted Input your name and email below to sign up 

                form#sign-upForm(method='POST', action='https://script.google.com/macros/s/AKfycbzSX2oGe8x1gkP9ZB1PLgY6v6hbhb4gpoD2UMNzClgABDZ_Tts-b_9HkEK4sVJTwPJv6A/exec' target='index.html')
                    .row.align-items-stretch.mb-5
                        .col-md-6
                            .form-group

                                // Name input
                                input#name.form-control(
                                    name='Name'
                                    type='text',
                                    placeholder='Your Name *',
                                    onblur='isNameEmpty()'
                                    required
                                )
                                .invalid-feedback
                                    | A name is required.

                            .form-group

                                // Email address input
                                input#email.form-control(
                                    name='Email'
                                    type='Email',
                                    placeholder='Your Email *',
                                    onblur='emailIsValid()'
                                    required
                                )
                                .invalid-feedback-empty
                                    | An email is required.
                                .invalid-feedback
                                    | Email is not valid.

                        .col-md-6
                            .form-group.form-group-textarea.mb-md-0

                                // Message input
                                textarea#message.form-control(
                                    Name='Message'
                                    placeholder='Your Message',
                                )

                    // Submit success message
                    //
                    // This is what your users will see when the form
                    // has successfully submitted

                    #submitSuccessMessage.d-none
                        .text-center.text-white.mb-3
                            #successText.fw-bolder Form submission successful!

                    // Submit error message
                    //
                    // This is what your users will see when there is
                    // an error submitting the form

                    #submitErrorMessage(style="display: none")
                        .text-center.text-danger.mb-3 Check your name and email!

                    // Submit Button
                    .text-center
                        button#submitButton.btn.btn-primary.btn-xl.text-uppercase(type='submit') Sign up

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; TEDx NWC 2023
                    .col-lg-4.my-3.my-lg-0
                        //- Don't put anything here
                    .col-lg-4.text-lg-end
                        a.btn.btn-dark.btn-dark.mx-2.rounded-pill(href='https://www.instagram.com/tedxnwc/' target='_blank' aria-label='Instagram')
                            span(style="margin-right: 2px;") Instragram
                            i.fab.fa-instagram

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // Sign up JS
        script(src='js/sign-up.js')