//
// Colors
//

// Override Bootstrap color variables

// $yellow: #ffc800;

// Override Bootstrap state colors variables
$primary: rgb(207, 45, 45);

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;